.aob-products-arr {
  margin-bottom: 60px;
  margin-top: 60px;
  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 71px;
    max-width: 800px;
    margin: 0 auto;
  }
}
