.home-header {
  color: rgb(255, 255, 255);
  background: url("../../../assets/img/home/home-header-img.jpeg") center center /
    cover no-repeat;
  height: 640px;
}

.home-header__content {
  padding-top: 181px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.home-header__content-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.home-header__content-been {
  display: flex;
  margin: auto 0;
  margin-bottom: 35px;
}

.home-header__content-line {
  background-color: #fff;
  width: 60px;
  height: 1px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(-450%);
  margin: auto 0;
}

.home-header__content-img {
  margin: 0 26px 0 26px;
}

.home-header-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.home-header-subtitle:first-of-type {
  margin-bottom: 20px;
}

.home-header-subtitle:last-of-type {
  margin-bottom: 18px;
}

.home-header-btn {
  width: 120px;
  height: 30px;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  background: rgba(196, 196, 196, 0);
  font-weight: 700;
}
