.section-about-product {
  margin: 70px 0 60px;
  color: #000;
  display: flex;
  justify-content: center;

  &__img {
    width: 400px;
    margin-left: 187px;
    margin-right: 50px;
  }

  &__content {
    width: 418px;
  }

  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 21px;
  }

  &__country {
    margin-top: 26px;
    margin-bottom: 16px;

    &--bold {
      margin-right: 6px;
      font-weight: 700;
    }
  }

  &__description {
    line-height: 20px;
    margin-bottom: 16px;

    &--bold {
      font-weight: 700;
      margin-right: 6px;
    }
  }

  &__price {
    font-weight: 700;

    &--second-word {
      margin-left: 6px;
      font-size: 26px;
    }
  }
}
