.home-about {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-about__title {
  margin: 80px 0 20px 0;
  font-size: 24px;
  font-weight: 400;
}

.home-about__text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  max-width: 590px;
}

.home-about__text:first-of-type {
  margin-top: 41px;
  margin-bottom: 25px;
}

.home-about__text:nth-of-type(2) {
  margin-bottom: 101px;
}
